.whole-back{
  background-color: #73c5e6;
  color: white;
}
.bold-text{
  font-weight: bold;
}
.btn{
  border-radius:50px;
}

.nav-left{
  font-family: cursive;
  padding-left:10px;
  color: white;
}

.left-box-rows{
justify-content: center;
}