.whole-back{
  background-color: #73c5e6;
  color: white;
}
.bold-text{
  font-weight: bold;
}
.btn-1{
  border-radius:50px;
  background-color: #4d9ac2;
}
.btn-2{
  border-radius:50px;
  background-color: #4d9ac2;
}
.nav-left{
  font-family: cursive;
  padding-left:150px;
  color: white;
}

.left-box-rows{
  padding-left:150px; 
}
.mid-col{
  font-size: 9px;
}